In [1]:
import numpy as np

Create 1D NumPy array from 10 to 20 (inclusive)

In [2]:
arr = np.arange(10, 21)
print("Original array:", arr)

Original array: [10 11 12 13 14 15 16 17 18 19 20]

Find sum, mean, and standard deviation

In [3]:
print("Sum:", np.sum(arr))
print("Mean:", np.mean(arr))
print("Standard Deviation:", np.std(arr))

Sum: 165
Mean: 15.0
Standard Deviation: 3.1622776601683795

Convert array to float datatype

In [4]:
arr_float = arr.astype(float)
print("Float array:", arr_float)

Float array: [10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20.]

Multiply every element by 2 and subtract 5

In [6]:
mod_arr = arr_float * 2 - 5
print("After multiply by 2 and subtract 5:", mod_arr)

After multiply by 2 and subtract 5: [15. 17. 19. 21. 23. 25. 27. 29. 31. 33. 35.]

Select all elements greater than 15

In [7]:
print("Elements greater than 15:", arr[arr > 15])

Elements greater than 15: [16 17 18 19 20]

Reverse the array using slicing

In [8]:
print("Reversed array:", arr[::-1])

Reversed array: [20 19 18 17 16 15 14 13 12 11 10]